@charset "UTF-8"; 

  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap');
*{
    font-family: 'DM Sans' , sans-serif;
    margin: 0;
    padding: 0;

}
header{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    text-align: center;
    padding: 10px;
    

}
main{
    text-align: center;
    
    width: 450px;
    margin: auto;
}
.formu{
    padding: 40px;
    margin: 20px;
    text-align: left;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.829);
    color: rgb(0, 0, 0);

}
input{
    padding: 5px;
    margin: 5px;
    border: 0;
}
#enviar{
    padding: 15px;
    margin-top: 25px;
    font-weight: bold;
    cursor: pointer;
}
#enviar:hover{
    background-color: rgb(224, 135, 0);
    color: white;
}
#res{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.829);
    width: 370px;
    padding: 20px;
    font-weight: bold;
    
}

body{
    background: url(livros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}